<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<!--##########################################################################################################-->

                                          <!--CHANGES MADE HERE... ADDED SCROLL BAR-->
 <div class="login" style = "height: 550px;overflow-y: scroll;" >           

<!--##########################################################################################################-->


	<h1>PCOS Predictor</h1>
        

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
   
  <!--##########################################################################################################-->
                                  
                                              <!--REGEX FOR ERROR HANDLING-->
  <input type="text" name="Age (yrs)" placeholder="Age (yrs)" pattern="[0-1]{1}[0-9]{0,2}" title="Please enter a valid number between 10 and 200." required="required" />
  <input type="text" name="BMI" placeholder="BMI"  pattern="^(?!0+(?:\.0+)?$)\d?\d(?:\.\d\d?)?$" title="Please enter any number between 0 and 100" required="required" />
	
  
  <!--##########################################################################################################-->
		
		<input type="text" name="Cycle (R/I)" placeholder="Cycle (regular/irregular)" required="required" />
                  <input type="text" name="Weight Gain (Y/N)" placeholder="Weight Gain (yes/no)" required="required" />
              <input type="text" name="Hair Growth (Y/N)" placeholder="Hair Growth (yes/no)" required="required" />
           <input type="text" name="Skin Darkening (Y/N)" placeholder="Skin Darkening (yes/no)" required="required" />
         <input type="text" name="Hair Loss (Y/N)" placeholder="Hair Loss (yes/no)" required="required" />
          <input type="text" name="Pimples (Y/N)" placeholder="Pimples (yes/no)" required="required" />
      <input type="text" name="Fast food (Y/N)" placeholder="Fast food (yes/no)" required="required" />
   <input type="text" name="Regular Exercise (Y/N)" placeholder="Regular Exercise (yes/no)" required="required" />



        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>


   <p>                   </p>
   {{ prediction_text }}
 
 </div>


</body>
</html>